//TEst

.navigationContainer {
  height: 25%;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .navigationList {
    justify-content: right;
    ul {
      list-style-type: none;
      margin-inline-start: 0em;
      margin-right: 20px;
      li {
        display: inline;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  .logoContainer  {
    margin-left: 15px;
    width: 25%;
    justify-content: left;
  }
}
.MyAwesomeParallax img {
  height : 200vh;
  width : 100vw;
}